.jumbotron {
	background-color: #F5F5F1;
	border: 1px solid #9A8D85;

	h2{
		color: #c41200;
		font-weight: bold;
	}

	h3{

	}
}

.navbar-default{
	.container-fluid{
		background-color: #B50905;
		.navbar-nav > li > a {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
		}

		.navbar-brand{
			color: black;
			font-size: 30px;
			font-weight: bold;
			font-family: 'Hobo Std';
			text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
		}
	}
}

.container-fluid {
	padding: 10px 120px;
}


#facebook_button {
	position: absolute;
	left: 90px;
}

/* 
	Centering stuff that doesn't work
    display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
  	top: 50%;
  	left:50%;
	float: none;
    margin: 0 auto;
*/